---
title: Articles
---
<h1>Article Archive</h1>

<ul class="archive-list">
    {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</a> {{ post.date | date_to_string }}
        </li>
    {% endfor %}
</ul>
