---
title: Home
---
<ul class="homepage">
    {% for post in site.posts limit:5 %}
        <a href="{{ post.url }}"><li>
            <h2>{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
            <p class="rfloat">{{ post.date | date_to_string }}</p>
            <div>{{ post.topic }}</div>
            <br>
            {{ post.excerpt | strip_footnotes }}
        </li></a>
    {% endfor %}
</ul>
