<nav>
    <ul class="nav-list">
        {% for item in site.data.navigation %}
            <li class="nav-list"><a href="{{ item.link }}" {% if page.url == item.link %}class="current nav-list"{% else %}class="nav-list"{% endif %}>
                {{ item.name }}
            </a></li>
        {% endfor %}
    </ul>
</nav>
