html {
    font: 14pt sans-serif;
    line-height: 1.4;
}

body {
    margin: auto;
}

.title {
    text-align: left;
}

.staff-name {
    text-align: left;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

img.logo, picture.logo {
    height: 5em;
    position: absolute;
    right: 3%;
    top: 0.5em;
}

h1 {
    text-align: center;
}

h2,h3,h4,h5,h6 {
    text-align: left;
}

a.nav-list {
    color: black;
}

a.current {
    color: lightblue;
}

li {
    text-align: left;
}

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    left: 1em;
}

ul.archive-list, ul.homepage {
    list-style-type: none;
    padding: 0 4%;
}

ul.archive-list li {
    text-align: right;
}

ul.archive-list li a{
    float: left;
}

li.nav-list {
    float: left;
    border-right: solid 0.5em green;
}

nav {
    position: relative;
}

header {
    background-color: green;
    width: 100%;
    display: block;
    font-size: 16pt;
}

div.inner-header {
    max-width: 45em;
    margin: 0 auto;
    position: relative;
    min-height: 6em;
    display: block;
    padding: 0 2%;
}

h1.header {
    text-align: left;
    color: white;
    margin: 0;
    border: 0px;
    max-width: 65%;
}

div.content {
    max-width: 45em;
    min-height: 82vh;
    margin: auto;
    padding: 0 2% 1em;
}

div.content img {
    max-width: 80%;
}

ul.homepage li {
    margin: 4%;
    padding: 4%;
    border: 2px #0002 solid;
}

ul.homepage img {
    display: block;
    max-height: 95%;
    max-width: 95%;
    width: auto;
    height: auto;
}

ul.homepage h2 {
    display: inline;
}

ul.homepage a {
    text-decoration: none;
    color: black;
}

.clear {
    clear: both;
}

.rfloat {
    float: right;
}

h1.post {
    display: inline-block;
    text-align: left;
}

picture + p {
    text-align: center;
    display: block;
    font: 12pt sans-serif;
}

table {
    margin: auto;
}

table + p {
    text-align: center;
    display: block;
    font: 12pt sans-serif;
}

ul.homepage p em {
    display: none;
}

div.highlight {
   background-color: lightgrey;
   padding: 0.1em 1em;
}

code {
  background-color: lightgrey;
}

blockquote {
  background-color: lightgrey;
  padding: 0.1em 2em;
}
