<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title | remove: '_' }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <header>
            <div class="inner-header">
                <picture>
                    <source srcset="/assets/images/Logo.svg" type="image/svg+xml">
                    <source srcset="/assets/images/Logo.webp" type="image/webp">
                    <source srcset="/assets/images/Logo.png" type="image/png">
                    <img class="logo" src="/assets/images/Logo.png" alt="Fragile Litte World Logo">
                </picture>
                <h1 class="header">Fragile Little World</h1>
                <br>
                {% include navigation.html %}
            </div>
        </header>
        <div class="content">
            {{ content }}
        </div>
    </body>
</html>
